DATABASE_NAME=ваше название DB
DATABASE_USER=ваш пользователь
DATABASE_PASSWORD=пароль
DATABASE_HOST=localhost
DATABASE_PORT=5432
EMAIL_HOST_PASSWORD=Ваш пароль от приложения к почте
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_HOST_USER=Ваша почта